.forest-wrapper {
  width: 100%;
  .forest {
      max-width: 1200px;
      margin: 0 auto;

      display: flex;
      justify-content: space-evenly;
      gap: 50px;

      color: #545454;
      .forest__column {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        .img-wrapper { 
            position: relative;
            border-radius: 100px;
            overflow: hidden;
            .forest__img {
              width: 100%;
              transition: 1s;
              &:hover {
                  transform: scale(1.1);
              }
            }
            .forest__info {
              display: flex;
              flex-direction: column;
              row-gap: 5px;
              position: absolute;
              z-index: 2;
              bottom: 50px;
              left: 50px;
  
              color: white;
              .forest__title {
                  font-size: 20px;
                  font-weight: 700;
  
                  margin: 0;
              }
            }
          }
      }
      .forest__info {
          max-width: 350px;
          .forest__title {
              max-width: 350px;
              font-family: 'Georgia';
              font-size: 2.5vw;
              line-height: 130%;
              letter-spacing: 0.06em;
              margin-bottom: 25px;
          }
          .forest__text {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            font-family: 'Arial';
            max-width: 100%;
            line-height: 160%;
            color: #4C4C4C;
          }
      }
  }
}


@media (max-width: 900px) {
    .forest-wrapper {
        .forest {
            align-items: center;
            flex-direction: column-reverse;
            gap: 20px;
            .forest__column {
                display: flex;
                align-items: center;
                justify-content: center;
                .img-wrapper {
                    border-radius: 90px;
                }
            }
            .forest__info {
            min-width: 100%;
            row-gap: 20px;
                .forest__title {
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                .forest__text {
                    gap: 10px;
                    font-size: 15px;
                }
           } 
        }
    }
}


@media (max-width: 460px) {
    .forest-wrapper {
        .forest {
            align-items: center;
            flex-direction: column-reverse;
            gap: 20px;
            .forest__column {
                display: flex;
                align-items: center;
                justify-content: center;
                .img-wrapper {
                    border-radius: 90px;
                    max-width: 90%;
                }
            }
            .forest__info {
            min-width: 90%;
            row-gap: 20px;
                .forest__title {
                    font-size: 25px;
                }
                .forest__text {
                    gap: 10px;
                    font-size: 15px;
                }
           } 
        }
    }
}

@media (max-width: 385px) {
    .forest-wrapper {
        .forest {
            align-items: center;
            flex-direction: column-reverse;
            gap: 20px;
            .forest__column {
                display: flex;
                align-items: center;
                justify-content: center;
                .img-wrapper {
                    border-radius: 60px;
                    max-width: 90%;
                    .forest__info {
                        left: 30px;
                        bottom: 30px;
                        .forest__title {
                            text-align: left;
                            font-size: 20px;
                        }
                    }
                }
            }
            .forest__info {
            max-width: 80%;
            row-gap: 20px;
                .forest__title {
                    text-align: center;
                    font-size: 25px;
                }
                .forest__text {
                    gap: 10px;
                    font-size: 13px;
                }
           } 
        }
    }
}